<template>
    <NavBarOn />
    <Group />
</template>


<script>
import NavBarOn from '@/components/Navbar/NavBarOn.vue'
import Group from '@/components/Group.vue'

export default {
    name: 'GroupView',
    components: { NavBarOn, Group }
}
</script>


<style>
</style>